include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include image_validation/sample_ruleset_v1.4.json
include image_validation/sample_ruleset_v1.5.json

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
